_okmo7 _7shjj _445wt﻿
{
display: none !important;

}
_grrw0 coreSpriteInstallBannerLogo{
display: none !important;
}
_rsurd{
display: none !important;
}
_cv4vz{
display: none !important;
}
_e2u1h{
display: none !important;
}
.button{
_93aj8
display: nont !important;
}
/** App into Login **/
div._m8ogu {
    visibility: hidden !important;
}
/** Install App Popup **/
div._28zbs._nqfwp {
    display: none !important;
}
/** Footer **/
footer._oofbn[role="contentinfo"] {
    display: none !important;
}