#header{ margin-top: -1px !important; border: none  important!; }

._129_ > :first-child {
    border-top: 0px solid transparent !important;
    border-top-width: 0px !important;
    border-top-style: none !important;
    border-top-color: transparent !important;
}

._129- {
    border-top: none !important;
}